.success {
  color: green;
}
.fail {
  color: red;
}

.rocket {
  img {
    //  max-height: 300px;
    //  width: auto;
    max-width: 100%;
    height: auto;
  }
}
.col-xs-12 {
  margin-bottom: 10px;
}
